@page "/"

<PageTitle>Home</PageTitle>

<h1>Cadastro de Alunos</h1>

<p>Esta página permitirá cadastrar alunos.</p>

<h2>Minha primeira interface com Blazor</h2>

@code {
    private string mensagem = "Bem-vindo ao cadastro.";
}